[run]
source = fpoimg
omit =
    tests/*
    venv/*
    upload_static_to_s3.py
    test_gallery.py

[report]
show_missing = true
skip_empty = true
exclude_lines =
    if __name__ == .__main__.
    pragma: no cover
