footer {
	border-top: 1px solid #E5E5E5;
	background-color: #f5f5f5;
	padding: 30px 0;
	margin-top: 70px;
}

#uri {
  font-weight: bold;
}

.jumbotron {
	text-align: center;
}

.jumbotron p {
	font-size: 45px;
	padding-top: 50px;
}

.jumbotron {
	padding-top: 30px;
}