<!DOCTYPE html>
<html lang="en">
<head>
  <title>FPOImg.com - {% block title %}Home{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block styles %}
  <link rel="stylesheet" href="/static/scripts/lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/scripts/lib/bootstrap/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/static/css/styles.css" />
  {% endblock %}

  {% block javascript %}
  <script data-main="static/scripts/main" src="static/scripts/require-jquery.js"></script>
  {% endblock %}
</head>
<body data-page-id="{% block page_id %}default{% endblock %}">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">FPOImg.com</a>
        <ul class="nav">
          <li class="{% block nav_home %}{% endblock %}"><a href="/">Home</a></li>
          <li class="{% block nav_examples %}{% endblock %}"><a href="/examples">Examples</a></li>
        </ul>
      </div>
    </div>
  </div><!-- end navbar -->

  <div class="container" style="margin-top: 60px;">
    {% block content %}{% endblock %}
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span6">
          <a href="https://palletsprojects.com/p/flask/">Powered by Flask</a>
        </div>
        <div class="span6">
          <p>This service is provided free by <a href="http://twitter.com/kylehayes">Kyle Hayes</a>. Fork it at <a href="http://github.com/kylehayes/fpoimg">GitHub</a>.
          <br/>&copy;2021 Kyle Hayes</p>
        </div>
    </div>
  </footer>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1427925-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</body>
</html>
