{% extends 'base.html' %}
{% block title %}Configurator{% endblock %}
{% block nav_configurator %}active{% endblock %}
{% block styles %}
 {{ super() }}
<link rel="stylesheet" media="screen" type="text/css" href="/static/scripts/lib/farbtastic/farbtastic.css" />
{% endblock %}
{% block javascript %}
  {{ super() }}
{% endblock %}
{% block page_id %}configurator{% endblock %}
{% block content %}
<h1>Configurator</h1>
<hr />
<div class="row">
  <!-- uri -->
  <div class="span12">
    <form>
      <div class="input-prepend input-append">
        <span class="add-on">&lt;img src="</span>
        <input id="uri" type="text" class="input-xxlarge" placeholder="[provide some values below]"/>
        <span class="add-on">" width="<span id="uri-width">0</span>"
         height="<span id="uri-height">0</span>" /&gt;</span>
      </div>
    </form>
  </div>
</div>
<hr />
<div class="row">
  <!-- params -->
  <div class="span4">
    <form>
      <div class="row">
        <div class="span4">
          <label>Size</label>
          <input type="text" id="param-width" class="input-mini param" placeholder="width" value="300" /> x 
          <input type="text" id="param-height" class="input-mini param" placeholder="height" value="250" /> pixels
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <select id="iab">
            <option value="">-- Common IAB Sizes --</option>
            <option>970x250 - Billboard</option>
            <option>300x600 - Filmstrip</option>
            <option>300x1050 - Portrait</option>
            <option>970x90 - Pushdown</option>
            <option>300x250 - Medium Rectangle</option>
            <option>180x150 - Rectangle</option>
            <option>160x600 - Wide Skyscraper</option>
            <option>728x90 - Leaderboard</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <label for="param-text">Text</label>
          <input type="text" id="param-text" class="param" placeholder="A caption for the image" value="Preview" />
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <label>Background color</label>
          <input type="text" id="param-bgcolor" class="param" value="" />
          <div id="bg-colorpicker" style="display: none;"></div>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <label>Text color</label>
          <input type="text" id="param-textcolor" class="param" value="" />
          <div id="text-colorpicker" style="display: none;"></div>
        </div>
      </div>
    </form>
  </div>

  <!-- preview -->
  <div class="span8">
    <img id="preview" src="" />
  </div>  
</div>

{% endblock %}