{% extends "base.html" %}
{% block content %}
<div class="row">
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <img src="/100x100?bg_color=666666&text_color=cccccc&text=Advertisement%20caption" />
        <div class="caption">100x100</div>
      </div>
    </li>
    <li class="span8">
      <div class="thumbnail">
        <img src="/500x100?bg_color=00eeee&text_color=000000&text=Advertisement%20caption" />
        <div class="caption">500x100</div>
      </div>
    </li>
  </ul>
</div><!-- end row -->

<div class="row">
  <div class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <img src="/150x500?bg_color=C90000&text_color=6E0101&text=Advertisement%20caption" />
        <div class="caption">100x500</div>
      </div>
    </li>
    <li class="span8">
      <div class="thumbnail">
        <img src="/400x400?bg_color=BFC5FF&text_color=4A59FF&text=Advertisement%20caption" />
        <div class="caption">500x100</div>
      </div>
    </li>
  </div>
</div><!-- end row -->
{% endblock %}