{% extends "base.html" %}

{% block nav_home %}active{% endblock %}
{% block styles %}
 {{ super() }}
<link rel="stylesheet" media="screen" type="text/css" href="/static/scripts/lib/farbtastic/farbtastic.css" />
{% endblock %}
{% block javascript %}
  {{ super() }}
{% endblock %}
{% block page_id %}generator{% endblock %}
{% block content %}
<p>FPO means <em>For Placement Only</em> and is commonly used for providing a placeholder image where actual content will reside in a publication, website, or similar.</p>

<p>The goal of FPOImg.com is simple—provide an easy way to generate placeholder images for your designs whether it be
for web development, print, or a school paper</p>
<p>Using FPOImg.com is simple, append the size of an image you would like to generate after fpoimg.com/</p>
<hr />
<div class="row">
  <!-- uri -->
  <div class="span12">
    <form>
      <div class="input-prepend input-append">
        <span class="add-on">&lt;img src="</span>
        <input id="uri" type="text" class="input-xxlarge" placeholder="[provide some values below]"/>
        <span class="add-on">" width="<span id="uri-width">0</span>"
         height="<span id="uri-height">0</span>" /&gt;</span>
      </div>
    </form>
  </div>
</div>
<hr />
<div class="row">
  <!-- params -->
  <div class="span4">
    <form>
      <div class="row">
        <div class="span4">
          <label>Size</label>
          <input type="text" id="param-width" class="input-mini param" placeholder="width" value="300" /> x 
          <input type="text" id="param-height" class="input-mini param" placeholder="height" value="250" /> pixels
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <select id="iab">
            <option value="">-- Common Ad Sizes --</option>
            <option>300x50 - Mobile Banner</option>
            <option>320x50 - Mobile Banner</option>
            <option>970x250 - Billboard</option>
            <option>300x600 - Filmstrip</option>
            <option>300x1050 - Portrait</option>
            <option>970x90 - Pushdown</option>
            <option>300x250 - Medium Rectangle</option>
            <option>180x150 - Rectangle</option>
            <option>160x600 - Wide Skyscraper</option>
            <option>728x90 - Leaderboard</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <label for="param-text">Text</label>
          <input type="text" id="param-text" class="param" placeholder="A caption for the image" value="Preview" />
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <label>Background color</label>
          <input type="text" id="param-bgcolor" class="param" value="" />
          <div id="bg-colorpicker" style="display: none;"></div>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <label>Text color</label>
          <input type="text" id="param-textcolor" class="param" value="" />
          <div id="text-colorpicker" style="display: none;"></div>
        </div>
      </div>
      <div class="row">
          <div class="span12">
          <p>If you find this service useful consider donating—any little bit helps to keep the servers running!
              <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="kylehayes" data-color="#FFDD00" data-emoji="" data-font="Bree" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
          </p></div>
      </div>
    </form>
  </div>

  <!-- preview -->
  <div class="span8">
    <img id="preview" src="" />
  </div>  
</div>

{% endblock %}