<!DOCTYPE html>
<html>
<head>
  <title>FPOImg.com smoke test</title>
  <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css" />
  <script src="/static/lib/bootstrap/js/bootstrap.js"></script>
</head>
<body>
  100x100<br />
  <img src="/100x100?bg_color=666666&text_color=cccccc&text=Advertisement%20caption" /><hr />

  100x500<br />
  <img src="/100x500?bg_color=666666&text_color=cccccc&text=Advertisement%20caption" /><hr/>

  500x100<br />
  <img src="/500x100?bg_color=666666&text_color=cccccc&text=Advertisement%20caption" /><hr/>

  800x800<br />
  <img src="/800x800?bg_color=666666&text_color=cccccc&text=Advertisement%20caption" /><hr/>

  1024x768<br />
  <img src="/1024x768?bg_color=666666&text_color=cccccc&text=Advertisement%20caption" /><hr/>

  2000x2000<br />
  <img src="/2000x2000?bg_color=666666&text_color=cccccc&text=Advertisement%20caption" /><hr/>
</body>
</html>